h1, h2, h3 {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	font-weight: bold;
	border-bottom: 1px solid black;
	color:#239349;
}

body {
	background-color: #DBD5B7;
}

div#main-container {
	background-color: #EDEBD5;
	border-radius: 15px;
	padding: 20px;
	margin: 10px auto 10px auto;
	width: 80%;
	
}

.green {
	color: #239349;
}

a:link {color: #239349; text-decoration: underline; }
a:active {color: #239349; text-decoration: underline; }
a:visited {color: #239349; text-decoration: underline; }
a:hover {color: #239349; text-decoration: none; }

p, li, a {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Arial, sans-serif;
	font-size: small;
}