#{extends 'main.html' /}
#{set title:'Original text' /}

<style>
	#contents {
			
	}
	
	#margin {
	
			float: right;
			width: 200px;
			border: 1px solid #000;
			background-color: #eee;
			padding:10px;
			margin:5px;
	}
	
	td {
		vertical-align: top;
	}
	
</style>
<div id="contents">

<div class="global-button">
<span class="ui-icon ui-icon-newwin"></span>
<a href="@{xlate.translation}" class="ui-button ui-button-text">Translation</a>
</div>

<h1>${paras[1]}</h1>


<div id="margin">
	<table>
		<tr><td>${paras[5]}</td></tr>
	</table>
</div>

<p>${paras[2]}</p>

<p>${paras[3]}</p>

<p>${paras[4]}</p>

<!-- 
<h2>UN HÔPITAL LOIN DU FRONT</h2>

<p>De l'autre côté, les Kadhafistes sont visibles à l'œil nu. Trois de leurs combattants ont été capturés. Il s'agit, selon les rebelles, d'un Libyen, d'un Soudanais et d'un Mauritanien. Mais la contre-attaque est violente. Des roquettes et des missiles Grad s'abattent devant la porte, soulevant des nuages de sable et de poussière, d'abord sur la route, puis devant un petits groupe de révolutionnaires. A quelques mètres des chefs de l'unité.</p>


<p>Un blessé est chargé à l'arrière d'un véhicule, sur le front Est de Syrte.© Enrico Dagnino pour "Le Monde"
Dans la panique, les blessés sont chargés à l'arrière des véhicules. Remotivés par des "Allah Akhbar", les rebelles font feu à leur tour. Plusieurs hommes sont tombés, touchés par des éclats d'obus. Plus tard dans la soirée, le docteur Ahmad Egnashi, qui dirige le rapatriement des blessés de l'hôpital de Ras Lanouf, 150 km à l'est du front, a compté trois morts et quinze blessés. "Vu l'enjeu de la bataille, et comparé aux derniers jours, c'est peu", estime-t-il. Equipé de deux hélicoptères, quarante ambulances et de plusieurs salles d'opération mobile, il appréhende la marche des révolutionnaires vers le centre de Syrte. "Les tirs de snipers dont les hommes de Kadhafi se sont fait une spécialité sont fatals à tous les coups et l'hôpital est loin du front, note-il avec inquiétude. On ne sait pas non plus dans quel état nous allons retrouver les habitants de Syrte."
</p>

<h2>"LA VICTOIRE OU LA MORT"</h2>

<p>"Bientôt, la Libye sera libérée, ajoute-t-il, ce n'est qu'une question de temps. Mais la plupart de nos soldats sont des civils, épuisés par les combats, loin de leurs familles. Le temps joue contre nous." La brigade du Matin du 17-Février compte trois blessés. Mais le moral n'a jamais été aussi haut. "Depuis huit mois que nous nous battons, que nous reculons, que nous avançons et que nous mourrons, la révolution n'a jamais été aussi proche de son accomplissement", dit Ali, qui a quitté les bancs de l'université pour rejoindre la rébellion armée. Douba, l'un des trois blessés de la brigade, a rejoint ses camarades dès que les chirurgiens lui ont retiré l'éclat d'obus qu'il avait dans la jambe. Accueilli comme un héros, il promet qu'il repartira dès le lendemain sur le front.</p>

<p>Le centre de Syrte est encore sous contrôle des Kadhafistes qui promettent une résistance acharnée. Mais pour les rebelles du front Est, l'instant est historique. Ils sont enfin entrés dans la ville de Syrte. Le slogan des premiers jours du soulèvement libyen n'a pas perdu de sa vigueur. Mais il en a perdu les accents désespérés des débuts. D'après le commandant, des habitants de Syrte se sont révoltés quelques heures après le passage de la porte. Autour du feu qui crépite dans le désert, c'est avec beaucoup d'enthousiasme que les révolutionnaires ont levé le poing vers le ciel en hurlant "la victoire ou la mort !".</p>

 -->


</div>

